body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #dfe0ea;
}

/* Code to create Card element adapted from: https://www.w3schools.com/howto/howto_css_cards.asp */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

h1, h2 {
    text-align: center;
}

/* Code to create form elements adapted from: https://www.w3schools.com/css/tryit.asp?filename=trycss_form_responsive */
.responsive-form {
    max-width: 600px;
    width: 100%;
    border-radius: 4px;
    border: 2px solid #65719c;;
    background-color:  #f2f2f2;
    padding: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
}

label {
    min-width: 48%;
    margin-bottom: 10px;
}

input[type=submit] {
    width: 100%;
    background-color: #65719c;
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button {
    background-color: #65719c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    margin-right:auto;
    margin-left:auto;
}

.flex-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

/* Grid to hold images */
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 16px;
    justify-content: center;
}

/* specification of specific images in the grid */
.image-grid img {
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}